/* Common footer for Iris */
.wrapper-quizz
  height 193px
  background #46a4b8
  text-align center
#footer
  height 44px
  background #1c1c1b url('../images/demo22/footer.jpg') center center no-repeat
