/* Common header for Iris */

#header
  position relative
  font-family helvetica, arial
  &:before
    content " "
    display block
    box-sizing border-box
    absolute top left right
    z-index -1
    height 405px
    border-top solid 25px #303133
    background linear-gradient(left, 0% #165d6f, 50% #4aa6b9, 100% #165d6f)
  .wrapper-content-header
    position relative
    box-sizing border-box
    width 1024px
    height 138px
    margin 0 auto
    padding 0 20px
    &:before
      content " "
      display block
      background url('../images/demo22/header.png') 0 0 no-repeat
      width 213px
      height 64px
      absolute top 0 right 20px
    .header__site-name
      absolute top 0 left 20px
      width 55px
      background #535356
      color #fff
      text-transform uppercase
      text-align center
      font-size 12px
      padding-top 1px
      line-height 2em
      .header__site-link
        text-decoration none
        color #fff
    .header__logo
      box-sizing border-box
      absolute top 55px
      width 163px
      height 64px
    .header__site-slogan
      absolute top 35px left 117px
      color #fff
      font-size 15px