/* Common header for Iris */

#header
  position relative
  font-family helvetica, arial
  &:before
    content " "
    display block
    box-sizing border-box
    absolute top left right
    z-index -1
    height 405px
    border-top solid 25px #303133
    background linear-gradient(left, 0% #165d6f, 50% #4aa6b9, 100% #165d6f)
  .wrapper-content-header
    position relative
    box-sizing border-box
    width 1024px
    height 138px
    margin 0 auto
    padding 0 20px
    .header__site-name
      absolute top 0 left 20px
      width 55px
      background #535356
      color #fff
      text-transform uppercase
      text-align center
      font-size 12px
      padding-top 1px
      line-height 2em
      .header__site-link
        text-decoration none
        color #fff
    .header__logo
      box-sizing border-box
      absolute top 55px
      width 163px
      height 64px
    .header__site-slogan
      absolute top 35px left 117px
      color #fff
      font-size 15px

    // block links
    #block-iris-blocks-header-links
      absolute top 0 right 0
      text-transform uppercase
      font-size 12px
      li
        display block
        float left
        &:first-child
          position relative
          margin-right 10px
          &:after
            display block
            content "•"
            color #fff
            absolute top 13px right -2px
            font-size 12px
            line-height 0
        &.link-normal
          padding 7px 10px
        &.gonera
          background url('../images/ic-google.png') 0 5px no-repeat
          padding-left 16px
          span
            absolute left -9999px
        &.icone
          a
            width 24px
            height 25px
            background-size 300% auto
          &.facebook
            a
              background-position -2px -4px
          &.twitter
            a
              background-position -23px -4px
          &.linkedin
            a
              background-position -44px -4px
      a
        color #fff
        font-weight bold
        text-decoration none
