/* navigation superfish for Iris */

#navigation
  box-sizing border-box
  absolute top -42px right 10px
  a
    color #fff
    text-decoration none
  #superfish-1
    > li
      box-sizing border-box
      color #fff
      font-family arial
      text-transform uppercase
      font-weight bold
      font-size 12px
      margin 0
      padding 10px 10px 20px
      &:hover
        background #333
      ul
        background #333
        padding 30px 20px 0
        top 41px
        li
          padding 0 0 20px