/* SideBars */

// Left Menu
.region-sidebar-first
  .collapsiblock
    a
      background #333
      position relative
      color #fff
      text-transform uppercase
      text-decoration none
      font-size 12px
      padding 12px 20px 12px 51px
      &:before
        display block
        absolute top 0 bottom 0 left 0
        width 36px
        background #46a4b8 url('../images/icones.png') 0 0 no-repeat
        content " "
      &:after
        display block
        content "▲"
        absolute top 15px right 20px
        font-size 6px
        color #fff
        transform scaleX(1.5)
  .block-outils
    .collapsiblock
      a
        &:before
          background-position center -11px
  .block-contacts
    .collapsiblock
      a
        &:before
          background-position center -50px
  .block-informatique
    .collapsiblock
      a
        &:before
          background-position center -87px
  .block-nouveaux-arrivants
    .collapsiblock
      a
        &:before
          background-position center -125px
  .block-transports
    .collapsiblock
      a
        &:before
          background-position center -161px
  .collapsiblockCollapsed
    a
      &:after
        content "▼"
  .collapsiblock-processed
    ul
      background #f3f3f3
      padding 6px 0
      &:nth-child(2n+1)
        background #eaeaea
      a
        position relative
        font-size 12px
        color #5e5d5d
        padding 7px 15px 7px 30px
        display block
        text-decoration none
        transition background-color .5s, color .5s
        &:before
          content "■"
          display block
          absolute top 6px left 15px
          font-size 11px
          color #999
          transition color .5s
        &:hover
          background-color #46a4b8
          color #fff
          transition background-color .5s, color .5s
          &:before
            color #333
            transition color .5s

// Right sidebar
.envol-last-news
  background #000
  .view-display-id-envol_iris
    > div:nth-child(2)
      padding 20px
      li
        color #fff
        list-style square
        margin-bottom 10px
  .dist-title-news
    display inline-block
    font-size 25px
    padding 10px 15px 10px 20px
    color #fff
  .field-name-field-thematique
    display none
  .node-type-title
    text-transform uppercase
    font-weight bold
    color #fff
    margin-bottom 5px
  .node-title
    font-size 12px
    a
      color #fff
      text-decoration none
  .attachment-before
    box-sizing border-box
    background #000
    position relative
    &:after
      content "▼"
      display block
      width 100%
      color #000
      absolute bottom -10px left 0 right 0
      text-align center
      transform scaleX(1.5)
    img
      width 100%
      height auto
    .wrapper-info
      clearfix()
      padding 10px 20px
    .node-title
      font-size 17px
      line-height 1.3em
      margin 5px 0
    .field-name-field-thematique
      color #fff
      text-transform uppercase
      display block
    .field-name-body
      color #fff
      font-weight bold
      line-height 1.3em
    .readmore
      text-decoration none
      float right
  &.node-analyse
    .attachment-before
      .node-title a,
      .readmore
        color color_green
    .dist-title-news,
    .view-display-id-envol_iris
      background color_green
  &.node-story
    .attachment-before
      .node-title a,
      .readmore
        color color_magenta
    .dist-title-news,
    .view-display-id-envol_iris
      background color_magenta
  &.node-invite
    .attachment-before
      .node-title a,
      .readmore
        color color_blue
    .dist-title-news,
    .view-display-id-envol_iris
      background color_blue
  &.node-agenda
    .attachment-before
      .node-title a,
      .readmore
        color color_orange
    .dist-title-news,
    .view-display-id-envol_iris
      background color_orange
  &.node-focus
    .attachment-before
      .node-title a,
      .readmore
        color color_purple
    .dist-title-news,
    .view-display-id-envol_iris
      background color_purple
  &.node-chroniques
    .attachment-before
      .node-title a,
      .readmore
        color color_sepia
    .dist-title-news,
    .view-display-id-envol_iris
      background color_sepia
  &.node-ensemble
    .attachment-before
      .node-title a,
      .readmore
        color color_yellow
    .dist-title-news,
    .view-display-id-envol_iris
      background color_yellow
  &.node-une-journee-avec
    .attachment-before
      .node-title a,
      .readmore
        color color_red
    .dist-title-news,
    .view-display-id-envol_iris
      background color_red

.envol-agenda
  display none
