/*! Onera_iris_project 30-06-2014|16:33:01 */

/* line 67 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line undefined : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
/* iris css file */

/* line 297 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 297 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\_conf.styl */

/* line 10 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\_conf.styl */

/* line 14 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\index.styl */

/* line 14 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\index.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\border.styl */

/* line 12 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\border.styl */

/* line 3 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\clearfix.styl */

/* line 31 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\clearfix.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\color-image.styl */

/* line 6 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\flex.styl */

/* line 197 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\flex.styl */

/* line 94 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\gradients.styl */

/* line 94 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\gradients.styl */

/* line 94 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\config.styl */

/* line 12 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\config.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\iconic.styl */

/* line 9 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\iconic.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\image.styl */

/* line 27 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\image.styl */

/* line 27 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\overflow.styl */

/* line 23 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\overflow.styl */

/* line 9 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\positions.styl */

/* line 73 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\positions.styl */

/* line 15 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\reset.styl */

/* line 79 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\reset.styl */

/* line 6 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\index.styl */

/* line 6 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\index.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\aliases.styl */

/* line 14 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\aliases.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\ellipsis.styl */

/* line 11 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\hide-text.styl */

/* line 9 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 10 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\replace-text.styl */

/* line 1 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line 3 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\text\shadow-stroke.styl */

/* line undefined : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\vendor.styl */

/* line 94 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\vendor.styl */

/* line 94 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\config.styl */

/* line 576 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\config.styl */

/* line 576 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\size.styl */

/* line 33 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\size.styl */

/* line 7 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\grid.styl */

/* line 41 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\grid.styl */
body {
  width: 100%;
  zoom: 1;
}

/* line 24 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\clearfix.styl */
body:before,
body:after {
  content: "";
  display: table;
}

/* line 28 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\clearfix.styl */
body:after {
  clear: both;
}

/* line 79 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\grid.styl */

/* line 79 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\_effects.styl */

/* line 40 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\_effects.styl */

/* line 40 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */

/* line 3 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header {
  position: relative;
  font-family: helvetica, arial;
}

/* line 6 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header:before {
  content: " ";
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 405px;
  border-top: solid 25px #303133;
  background: -webkit-linear-gradient(left, #165d6f 0%, #4aa6b9 50%, #165d6f 100%);
  background: -moz-linear-gradient(left, #165d6f 0%, #4aa6b9 50%, #165d6f 100%);
  background: -o-linear-gradient(left, #165d6f 0%, #4aa6b9 50%, #165d6f 100%);
  background: -ms-linear-gradient(left, #165d6f 0%, #4aa6b9 50%, #165d6f 100%);
  background: linear-gradient(to right, #165d6f 0%, #4aa6b9 50%, #165d6f 100%);
}

/* line 15 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header .wrapper-content-header {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1024px;
  height: 138px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 22 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header .wrapper-content-header .header__site-name {
  position: absolute;
  top: 0;
  left: 20px;
  width: 55px;
  background: #535356;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  padding-top: 1px;
  line-height: 2em;
}

/* line 32 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header .wrapper-content-header .header__site-name .header__site-link {
  text-decoration: none;
  color: #fff;
}

/* line 35 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header .wrapper-content-header .header__logo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  width: 163px;
  height: 64px;
}

/* line 40 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */
#header .wrapper-content-header .header__site-slogan {
  position: absolute;
  top: 35px;
  left: 117px;
  color: #fff;
  font-size: 15px;
}

/* line 44 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\header.styl */

/* line 44 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\footer.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\footer.styl */

/* line 2 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */

/* line 3 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */
#navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -42px;
  right: 10px;
}

/* line 6 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */
#navigation a {
  color: #fff;
  text-decoration: none;
}

/* line 9 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */

/* line 10 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */
#navigation #superfish-1 > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 10px 10px 20px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* line 20 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */
#navigation #superfish-1 > li:hover {
  background: #333;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* line 23 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */
#navigation #superfish-1 > li ul {
  background: #333;
  padding: 30px 20px 0;
  top: 41px;
}

/* line 27 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\lib\styl\navigation-superfish.styl */
#navigation #superfish-1 > li ul li {
  padding: 0 0 20px;
}

/* line 10 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
#main {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  padding: 20px 10px;
  background: #fff;
  zoom: 1;
}

/* line 24 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\clearfix.styl */
#main:before,
#main:after {
  content: "";
  display: table;
}

/* line 28 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\node_modules\nib\lib\nib\clearfix.styl */
#main:after {
  clear: both;
}

/* line 20 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 21 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.sidebar-first #content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 735.9999999999999px;
  margin: 0 10.00000000000008px;
  *width: 735.9999999999999px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-left: 262.00000000000006px;
  margin-right: -997.9999999999999px;
}

/* line 25 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.sidebar-first .region-sidebar-first {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 10.00000000000008px;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-right: -241.99999999999991px;
}

/* line 30 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 31 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.sidebar-second #content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 735.9999999999999px;
  margin: 0 10.00000000000008px;
  *width: 735.9999999999999px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-right: -745.9999999999999px;
}

/* line 34 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.sidebar-second .region-sidebar-second {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 10.00000000000008px;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-left: 766.0000000000001px;
  margin-right: -997.9999999999999px;
}

/* line 40 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 41 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.two-sidebars #content {
  display: inline;
  float: left;
  overflow: hidden;
  width: 483.99999999999983px;
  margin: 0 10.00000000000008px;
  *width: 483.99999999999983px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-left: 262.00000000000006px;
  margin-right: -745.9999999999999px;
}

/* line 45 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.two-sidebars .region-sidebar-first {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 10.00000000000008px;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-right: -241.99999999999991px;
}

/* line 48 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.two-sidebars .region-sidebar-second {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 10.00000000000008px;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
  margin-left: 766.0000000000001px;
  margin-right: -997.9999999999999px;
}

/* line 54 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 55 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 56 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 57 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.front .view-lefil .view-content .views-row-odd {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 0 0 10.00000000000008px;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
}

/* line 59 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.front .view-lefil .view-content .views-row-even {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 10.00000000000008px 0 0;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
}

/* line 61 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 62 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.front .view-lefil .view-display-id-first_news .views-row-odd {
  display: inline;
  float: left;
  overflow: hidden;
  width: 483.99999999999983px;
  margin: 0;
  *width: 483.99999999999983px -correction;
  *margin: 0 10.00000000000008px -correction;
}

/* line 64 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */

/* line 65 : c:\wamp\www\sandbox\onera\iris\sites\all\themes\iris\src\styl\iris.styl */
.front .view-lefil .view-display-id-sticky_news .views-row-odd {
  display: inline;
  float: left;
  overflow: hidden;
  width: 231.99999999999986px;
  margin: 0 10.00000000000008px 0 0;
  *width: 231.99999999999986px -correction;
  *margin: 0 10.00000000000008px -correction;
}
