/*Conf file for common options*/

//Import of nib
@import 'nib'
@import 'grid.styl'

//Includes legacy browser support - Default to false
//Override if necessary in default.styl or ctm_variant.styl
legacy-browser-support ?= true

//Default color
color_grey = #64747d
color_search = #8da4b2

//Rubriques colors
color_magenta = #F0015F
color_blue = #009BDE
color_green = #90B450
color_purple = #8E779A
color_yellow = #E8B61F
color_red = #CA1430
color_sepia = #622D18
color_orange = #FF6C4B

