/*Conf file for common options*/

//Import of nib
@import 'nib'
@import 'grid.styl'

//Includes legacy browser support - Default to false
//Override if necessary in default.styl or ctm_variant.styl
legacy-browser-support ?= true
