/* Common header for Iris */

#header
  position relative
  font-family helvetica, arial
  &:before
    content " "
    display block
    box-sizing border-box
    absolute top left right
    z-index -1
    height 200px
    border-top solid 25px #303133
    background linear-gradient(top, #fff, 91px #fff, 91px #000)
  &:after
    content " "
    display block
    box-sizing border-box
    absolute top left 40% right
    z-index -1
    height 200px
    border-top solid 25px #303133
    background linear-gradient(top, #fff, 91px #fff, 91px #64747d)
    .page-lefil &,
    .node-type-story &
      background linear-gradient(top, #fff, 91px #fff, 91px color_magenta)
    .page-analyse &,
    .node-type-analyse &
      background linear-gradient(top, #fff, 91px #fff, 91px color_green)
    .page-invite &,
    .node-type-invite &
      background linear-gradient(top, #fff, 91px #fff, 91px color_blue)
    .page-agenda &
    .node-type-agenda &
      background linear-gradient(top, #fff, 91px #fff, 91px color_orange)
    .page-focus &
    .node-type-focus &
      background linear-gradient(top, #fff, 91px #fff, 91px color_purple)
    .page-chroniques &
    .node-type-chroniques &
      background linear-gradient(top, #fff, 91px #fff, 91px color_sepia)
    .page-ensemble &
    .node-type-ensemble &
      background linear-gradient(top, #fff, 91px #fff, 91px color_yellow)
    .page-une-journee-avec &
    .node-type-une-journee-avec &
      background linear-gradient(top, #fff, 91px #fff, 91px color_red)
  .wrapper-content-header
    position relative
    box-sizing border-box
    width 1024px
    height 138px
    margin 0 auto
    padding 0 20px
    &:before
      content " "
      display block
      background url('../images/demo22/header.png') 0 0 no-repeat
      width 213px
      height 64px
      absolute top 0 right 20px
    &:after
      content " "
      display block
      box-sizing border-box
      absolute bottom left 270px right
      height 22px
      background #64747d
      .page-lefil &,
      .node-type-story &
        background color_magenta
      .page-analyse &,
      .node-type-analyse &
        background color_green
      .page-invite &,
      .node-type-invite &
        background color_blue
      .page-agenda &,
      .node-type-agenda &
        background color_orange
      .page-focus &,
      .node-type-focus &
        background color_purple
      .page-chroniques &,
      .node-type-chroniques &
        background color_sepia
      .page-ensemble &,
      .node-type-ensemble &
        background color_yellow
      .page-une-journee-avec &,
      .node-type-une-journee-avec &
        background color_red
    .header__site-name
      absolute top 0 left 20px
      width 55px
      background #535356
      color #fff
      text-transform uppercase
      text-align center
      font-size 12px
      padding-top 1px
      line-height 2em
      .header__site-link
        text-decoration none
        color #fff
    .header__logo
      box-sizing border-box
      absolute top 40px left 15px
      width 205px
      height 65px
