/* navigation superfish for Iris */

#navigation
  box-sizing border-box
  absolute top -50px left 270px
  #block-menu-menu-menu-haut
    .block__title
      display none
  li
    list-style none
    display inline
    padding 0
    font-size 12px
    font-weight bold
    margin 0 7px
    &.first
      margin-left 0
    &.last
      margin-right 0
  a
    position relative
    color #333
    text-decoration none
    text-transform uppercase
    padding 5px 9px
    &.active
      color #fff
      &:before
        content "▼"
        display block
        absolute bottom -10px left 0 right 0
        text-align center
        transform scaleX(1.15)
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -19px left 0 right 0
        text-align center
        transform scaleX(1.15)
    .page-lefil &.active
      background #ed0361
      &:before
        color #ed0361
    .page-analyse &.active
      background #91b355
      &:before
        color #91b355

// Gestion des couleurs quand l'active trail n'est pas en place
.node-type-story
  #navigation
    .menu li:nth-child(1) a
      color #fff
      background #ed0361
      &:before
        content "▼"
        display block
        absolute bottom -10px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color #ed0361
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -19px left 0 right 0
        text-align center
        transform scaleX(1.15)
    
