/* navigation superfish for Iris */

#navigation
  box-sizing border-box
  absolute top -50px left 270px
  #block-menu-menu-menu-haut
    .block__title
      display none
  li
    list-style none
    display inline
    padding 0
    font-size 12px
    font-weight bold
    margin 0 7px
    &.first
      margin-left 0
    &.last
      margin-right 0
  a
    position relative
    color #333
    text-decoration none
    text-transform uppercase
    padding 5px 9px
    &.active
      color #fff
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
    .page-lefil &.active
      background color_magenta
      &:before
        color color_magenta
    .page-analyse &.active
      background color_green
      &:before
        color color_green
    .page-invite &.active
      background color_blue
      &:before
        color color_blue
    .page-agenda &.active
      background color_orange
      &:before
        color color_orange
    .page-focus &.active
      background color_purple
      &:before
        color color_purple
    .page-chroniques &.active
      background color_sepia
      &:before
        color color_sepia
    .page-ensemble &.active
      background color_yellow
      &:before
        color color_yellow
    .page-une-journee-avec &.active
      background color_red
      &:before
        color color_red

// Gestion des couleurs quand l'active trail n'est pas en place
.node-type-story
  #navigation
    .menu li:nth-child(1) a
      color #fff
      background color_magenta
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_magenta
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-invite
  #navigation
    .menu li:nth-child(2) a
      color #fff
      background color_blue
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_blue
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-analyse
  #navigation
    .menu li:nth-child(3) a
      color #fff
      background color_green
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_green
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-agenda
  #navigation
    .menu li:nth-child(8) a
      color #fff
      background color_orange
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_orange
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-focus
  #navigation
    .menu li:nth-child(4) a
      color #fff
      background color_purple
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_purple
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-chroniques
  #navigation
    .menu li:nth-child(7) a
      color #fff
      background color_sepia
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_sepia
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-ensemble
  #navigation
    .menu li:nth-child(5) a
      color #fff
      background color_yellow
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_yellow
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)
.node-type-une-journee-avec
  #navigation
    .menu li:nth-child(6) a
      color #fff
      background color_red
      &:before
        content "▼"
        display block
        absolute bottom -9px left 0 right 0
        text-align center
        transform scaleX(1.15)
        color color_red
      &:after
        content "▼"
        display block
        color #fff
        absolute bottom -18px left 0 right 0
        text-align center
        transform scaleX(1.15)