/* SideBars */

// General
.sidebar-second
  #content
    position relative
    &:before
      content " "
      display block
      width 1px
      absolute top 56px bottom 40px right 0
      background #000

// Right Zone
