/* iris css file */

// Imports
@import '../../lib/styl/_conf'
@import '../../lib/styl/_effects'
@import '../../lib/styl/layout.styl'
@import '../../lib/styl/header.styl'
@import '../../lib/styl/footer.styl'
//@import '../../lib/styl/navigation-superfish.styl'
//@import '../../lib/styl/sidebars.styl'

body
  font-family arial

#main
  position relative
  box-sizing border-box
  width 1024px
  margin 0 auto
  padding 20px 10px
  background #fff
  font-size 13px
  color #666
  clearfix()

// Generic Elements
.page__title
  font-size 22px
  color #000
  text-transform uppercase
  margin-bottom 16px

.view-footer
  clear both
  text-align center

.bigbutton
  display inline-block
  box-sizing border-box
  padding 5px 15px
  font-weight bold
  text-transform uppercase
  text-decoration none
  font-size 12px
  &.blue
    color #fff
    background #46a4b8

// Structure of home page
