/* iris css file */

// Imports
@import '../../lib/styl/_conf'
@import '../../lib/styl/_effects'
@import '../../lib/styl/layout.styl'
@import '../../lib/styl/sidebars.styl'
@import '../../lib/styl/header.styl'
@import '../../lib/styl/footer.styl'
@import '../../lib/styl/navigation.styl'
@import '../../lib/styl/blocks.styl'
@import '../../lib/styl/pages/home.styl'
@import '../../lib/styl/pages/lefil.styl'
@import '../../lib/styl/pages/invite.styl'
@import '../../lib/styl/pages/analyse.styl'
@import '../../lib/styl/pages/agenda.styl'
@import '../../lib/styl/pages/chroniques.styl'
@import '../../lib/styl/pages/ensemble.styl'
@import '../../lib/styl/pages/focus.styl'
@import '../../lib/styl/pages/unejourneeavec.styl'

// Specials
.left
  float left
.right
  float right
.clear
  clear both

.mr20
  margin-right 20px
.ml20
  margin-left 20px

// General
body
  font-family arial

img
  display block

#main
  position relative
  box-sizing border-box
  width 1024px
  margin 0 auto
  padding 20px 10px
  background #fff
  font-size 13px
  color #666
  clearfix()

// Generic Elements
.node-teaser
  clearfix()

.page__title
  font-size 40px
  color #000
  margin-bottom 16px
.page-analyse,
.page-invite,
.page-focus,
.page-ensemble,
.page-chroniques,
.page-une-journee-avec
  &.page-views
    .node
      h1
        @extend .page__title
        margin-top 10px
        margin-left -3px
        letter-spacing -1px
.node-type-analyse,
.node-type-invite,
.node-type-focus,
.node-type-ensemble,
.node-type-chroniques,
.node-type-une-journee-avec
  .node
    h1
      @extend .page__title
      margin-top 10px
      margin-left -3px
      letter-spacing -1px

.node-title
  color #000
  & a
    color #000
    text-decoration none

.field-name-field-category
  color #666
  text-transform uppercase
  position relative
  display inline-block
  font-size 12px
  margin-top 5px
  &:after
    display block
    box-sizing border-box
    absolute top 0 bottom 0 right -15px
    content '›'
    font-size 19px
    line-height .45em

.wrapper-thematique
  font-size 14px
  font-weight bold
  text-transform uppercase

.field-name-field-date,
.field-name-field-date-agenda
  font-size 15px
  font-weight bold
  text-transform uppercase

.field-name-body
  font-size 13px

.icone
  margin-left 1px
  &:first-child
    margin 0
  a
    display block
    background #535356 url('../images/icones-social.png') 0 0 no-repeat
    span
      absolute left -9999px

// Views
.views-row
  padding 20px 0
  border-bottom solid 1px #eaeaea
.views-row-first
  padding-top 0
.views-row-last
  border none
.view-footer
  clear both
  text-align center
.readmore
  float right
  color #8fa5b1
  text-decoration none
.item-list
  .pager
    font-weight bold
    li
      padding 8px 5px
      margin 0
    .pager-next,
    .pager-previous
      display none
    .pager-first,
    .pager-last
      color #000
      font-size 14px
      letter-spacing -5px
      & a
        color #000
    & a
      text-decoration none

// flippy pager
.flippy
  font-weight bold
  li
    padding 0
    margin 0
  .prev,
  .next
    color #000
    font-size 12px
    text-transform uppercase
    span
      color #000
      letter-spacing -5px
    & a
      color #000
  .prev
    absolute bottom 0 left 70px
    span
      margin-right 4px
  .next
    absolute bottom 0 right 40px
  & a
    text-decoration none

// Close button
.wrapper-close-button
  text-align center
.bigbutton
  display inline-block
  box-sizing border-box
  padding 5px 15px
  font-weight bold
  text-transform uppercase
  text-decoration none
  font-size 12px
  &.blue
    color #fff
    background color_blue
  &.green
    color #fff
    background color_green
  &.magenta
    color #fff
    background color_magenta
  &.orange
    color #fff
    background color_orange
