// Structure page invite
.page-invite,
.node-type-invite
  .sidebars
    margin-top 32px
  .sidebar-second &
    .wrapper-invite
      position relative
      &:before
        content " "
        display block
        width 1px
        absolute top 0 bottom 0 right -20px
        background #000
  .wrapper-left-padding
    padding-left 53px
    position relative
    &:before
      content " "
      display block
      width 1px
      absolute top 0 bottom 0 left 34px
      background color_blue
  .field-name-field-date
    color color_blue
  .node-teaser
    .field-name-field-visuel
      float left
      margin-right 20px
      margin-bottom 20px
    .node-title
      font-size 16px
      margin 12px 0
    .field-name-field-thematique
      margin-top 5px
      text-transform uppercase
      font-weight bold
      font-size 12px
    .field-name-body,
    .field-name-field-chapo
      margin-bottom 10px
  .view-mode-full
    position relative
    h2
      color #000
      font-size 15px
      margin 0 0 15px
    p
      margin-bottom 15px
    .wrapper-thematique
      color color_blue
    .wrapper-highlight-image
      box-sizing border-box
      padding 20px
      color #fff
      font-size 16px
      background #1c1c1b
      .field-name-field-nom-invite
        border-left solid 1px #fff
        padding-left 20px
        margin-right 5px
        line-height 1.4em
        font-weight bold
        text-transform uppercase
        display inline
        div
          display inline
      .field-name-field-fonction-invite
        color color_blue
        font-size 13px
        display inline
        div
          display inline
    .field-name-field-visuel
      img
        width 100%
    .field-name-field-date
      margin 15px 0
    .field-name-field-chapo
      font-weight bold
      font-size 15px
      line-height 1.3em
      color #000
      margin 0 0 15px
    .field-name-body
      line-height 1.3em
    .field-name-field-auteur
      float right
      font-size 14px
      font-weight bold
      color #000
      margin-bottom 20px
    .wrapper-collaborateurs
      box-sizing border-box
      padding 20px 20px 20px 110px
      background #e9e4df url('../images/trombone.png') 20px center no-repeat
      p.first
        margin 0
        padding 0 0 15px 20px
        border-left solid 1px #fff
      .field-name-field-collaborateurs
        box-sizing border-box
        padding-left 20px
        border-left solid 1px #fff
        p
          margin-bottom 5px
          strong
            font-size 15px
  .pager
    .pager-item
      & a
        color color_blue
    .pager-current
      color #fff
      background color_blue
      