
// Structure of views lefil and page le fil (node-type-story)
.page-lefil,
.node-type-story
  .field-name-field-date
    color color_magenta
  .node-teaser
    .wrapper-info
      .field-name-field-thematique
        margin-top 12px
        text-transform uppercase
        font-size 12px
        color #13a0b2
      .node-title
        font-size 16px
        margin 5px 0 12px
      .field-name-body,
      .field-name-field-chapo
        margin-bottom 10px
  .pager
    .pager-item
      & a
        color color_magenta
    .pager-current
      color #fff
      background color_magenta
  .sidebars
    margin-top 40px

.node-type-story
  .field-name-field-thematique
    margin-top 12px
    text-transform uppercase
    color #13a0b2
    font-size 12px
  .wrapper-info
    position relative
    min-height 355px
    padding-left 53px
    padding-bottom 45px
    &:before
      content " "
      display block
      width 1px
      absolute top 260px bottom 0 left 34px
      background color_magenta
  .wrapper-image
    float left
    margin-right 20px
    margin-bottom 20px
  h1.node__title
    font-size 34px
    margin 5px 0 15px
  .field-name-field-chapo
    font-weight bold
    margin-bottom 15px
    line-height 1.3em
  .field-name-body
    line-height 1.3em
    a
      color color_magenta
  .wrapper-pager
    absolute bottom 0 left 0 right 0
    .flippy
      .prev,
      .next
        a
          color color_magenta
        span
          color #000
    .bigbutton
      absolute bottom 6px left 465px
      .sidebar-second&
        absolute bottom 6px left 268px
