/* iris css file */

// Imports
@import '../../lib/styl/_conf'
@import '../../lib/styl/_effects'
@import '../../lib/styl/layout.styl'
@import '../../lib/styl/header.styl'
@import '../../lib/styl/footer.styl'
@import '../../lib/styl/navigation-superfish.styl'
@import '../../lib/styl/sidebars.styl'

body
  font-family arial

#main
  position relative
  box-sizing border-box
  width 1024px
  margin 0 auto
  padding 20px 10px
  background #fff
  font-size 13px
  color #666
  clearfix()

// Generic Elements
.page__title
  font-size 22px
  color #000
  text-transform uppercase
  margin-bottom 12px

// Structure of home page
.front
  .view-lefil
    line-height 1.5
    .view-content
      .views-row-odd
        column(3, 12, noright)
      .views-row-even
        column(3, 12, noleft)
    .view-display-id-first_news
      .views-row-odd
        column(6, 12, nomargin)
    .view-display-id-sticky_news
      .views-row-odd
        column(3, 12, noleft)

// Gestion affichage news
.view-display-id-first_news
  .view-mode-teaser_big_img
    position relative
    background #333
    .wrapper-info
      absolute bottom 0 left 0 right 0
      box-sizing border-box
      padding 15px 20px 20px
      color #fff
      bg-linear-gradient(300px, true, #000, top, rgba(0,0,0,.6), rgba(0,0,0,.6))
    .field-name-field-category
      color #00ccff
      text-transform uppercase
      font-size 12px
      line-height 1
    .node__title
      color #fff
      font-size 18px
      margin 10px 0
      line-height 1
      a
        color #fff
        text-decoration none
    .links
      absolute bottom 5px right 5px
      line-height 1

.view-lefil:not(.view-display-id-first_news)
  .view-mode-teaser_small_img
    height 330px
  .field-name-body
    white-space normal
    overflow hidden