/* iris css file */

// Imports
@import '../../lib/styl/_conf'
@import '../../lib/styl/_effects'
@import '../../lib/styl/header.styl'
@import '../../lib/styl/footer.styl'
@import '../../lib/styl/navigation-superfish.styl'

body
  font-family arial

#main
  position relative
  box-sizing border-box
  width 1024px
  margin 0 auto
  padding 20px 10px
  background #fff
  clearfix()

// The layout when there is only one sidebar, the left one.
.sidebar-first
  #content
    column(9)
    push(3)
    pull(-12)
  .region-sidebar-first
    column(3)
    pull(-3)

// The layout when there is only one sidebar, the right one.
.sidebar-second
  #content
    column(9)
    pull(-9)
  .region-sidebar-second
    column(3)
    push(9)
    pull(-12)

// The layout when there are two sidebars.
.two-sidebars
  #content
    column(6)
    push(3)
    pull(-9)
  .region-sidebar-first
    column(3)
    pull(-3)
  .region-sidebar-second
    column(3)
    push(9)
    pull(-12)

// Structure of home page
.front
  .view-lefil
    .view-content
      .views-row-odd
        column(3, 12, noright)
      .views-row-even
        column(3, 12, noleft)
    .view-display-id-first_news
      .views-row-odd
        column(6, 12, nomargin)
    .view-display-id-sticky_news
      .views-row-odd
        column(3, 12, noleft)

// Left Menu
.region-sidebar-first
  .collapsiblock
    a
      background #333
      position relative
      color #fff
      text-transform uppercase
      text-decoration none
      font-size 12px
      padding 12px 20px 12px 51px
      &:before
        display block
        absolute top 0 bottom 0 left 0
        width 36px
        background #46a4b8 url('../images/icones.png') 0 0 no-repeat
        content " "
      &:after
        display block
        content "▲"
        absolute top 15px right 20px
        font-size 6px
        color #fff
        transform scaleX(1.5)
  .block-outils
    .collapsiblock
      a
        &:before
          background-position center -11px
  .block-contacts
    .collapsiblock
      a
        &:before
          background-position center -50px
  .block-informatique
    .collapsiblock
      a
        &:before
          background-position center -87px
  .block-nouveaux-arrivants
    .collapsiblock
      a
        &:before
          background-position center -125px
  .block-transports
    .collapsiblock
      a
        &:before
          background-position center -161px
  .collapsiblockCollapsed
    a
      &:after
        content "▼"
  .collapsiblock-processed
    ul
      background #f3f3f3
      padding 6px 0
      &:nth-child(2n+1)
        background #eaeaea
      a
        position relative
        font-size 12px
        color #5e5d5d
        padding 7px 15px 7px 30px
        display block
        text-decoration none
        transition background-color .5s, color .5s
        &:before
          content "■"
          display block
          absolute top 6px left 15px
          font-size 11px
          color #999
          transition color .5s
        &:hover
          background-color #46a4b8
          color #fff
          transition background-color .5s, color .5s
          &:before
            color #333
            transition color .5s
